<?php

declare(strict_types=1);

require_once './lib/composer/autoload.php';

use ChristophWurst\Nextcloud\CodingStandard\Config;

$config = new Config();
$config
	->getFinder()
	->ignoreVCSIgnored(true)
	->exclude('3rdparty')
	->exclude('lib/composer')
	->exclude('apps/**/3rdparty')
	->exclude('apps/**/composer')
	->exclude('apps/**/vendor')
	->in(__DIR__);
return $config;
